.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #4d3319;
    padding: 20px;
    color: #fff;
    text-align: center;
  }
  
  .App h1 {
    font-size: 32px;
    margin: 0;
  }
  
  main {
    padding: 20px;

  }
  